
.root {

    -primary-color: #007bff;
    -secondary-color: #6c757d;
    -background-light: #e9eff6;
    -background-dark: #ffffff;



    -fx-font-family: "Verdana", sans-serif;
    -fx-font-size: 14px;
}

.border-pane {
    -fx-background-color: yellow;
}

.button {
    -fx-cursor: hand;
    -fx-padding: 10px 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-alignment: center;

    -fx-text-fill: white;

}


#btnAnadir {
    -fx-background-color: -primary-color;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}
#btnAnadir:hover {
    -fx-background-color: #0069d9;
}

.h-content {
    -fx-alignment: center;
    -fx-spacing: 30px;
    -fx-padding: 10px;
}

.vbox-formulario {
    -fx-background-color: -background-dark;
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-border-color: #e9ecef;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 5, 0.0, 0, 1);
}

.table-view {
    -fx-background-color: -background-dark;
    -fx-border-color: #adb5bd;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.table-view .column-header-background {
    -fx-background-color: -primary-color;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}